/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// Estilos propios
body, ion-header {
    background-color: var( --ion-color-dark ) !important;
}

.text-primary, .head {
    color: var( --ion-color-primary ) !important;
}

.noticia-source-name {
    font-size: 13px !important;
    color: lightgray !important;
}

.noticia-name {
    font-size: 17px !important;
}

.infinite-loading-spinner ion-spinner {
    color: var( --ion-color-primary ) !important;
}

.loadingText .infinite-loading-text {
    color: white !important;
}

.action-dark, .action-sheet-group {
    background-color: var( --ion-color-dark ) !important;
    color: white !important;
}

.action-dark ion-icon {
    color: white !important;
}

// No muestre el icono en IOS
.ios .action-sheet-icon {
    display: none !important;
}

.ios .action-sheet-button-inner {
    background-color: var( --ion-color-dark ) !important;
}

.tab-selected {
    color: var( --ion-color-primary ) !important;
}

// Animaciones
.animated {
    -webkit-animation-duration: 1s !important;
    animation-duration: 1s !important;
    -webkit-animation-fill-mode: both !important;
    animation-fill-mode: both !important;
}

.animated.fast {
    -webkit-animation-duration: 700ms !important;
    animation-duration: 700ms !important;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0 !important;
    }

    to {
        opacity: 1 !important;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0 !important;
    }

    to {
        opacity: 1 !important;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn !important;
    animation-name: fadeIn !important;
}