<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center">
      <h3>
        <span class="head">Jose Ramon's </span><strong>News</strong>
      </h3>
     </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <app-noticias [noticias]="noticias"></app-noticias>

  <ion-infinite-scroll threshold="150px" class="loadingText"
                       (ionInfinite)="loadData( $event )">
    <ion-infinite-scroll-content loadingSpinner="crescent" 
                                 loadingText="Cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>